.checkout__ad {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("https://cdn.pixabay.com/photo/2016/04/24/17/27/leaves-1350175_640.jpg");
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px;
  color: white;
  margin-bottom: 10px;
}
.checkout__ad > h2 {
  font-size: 50px;
}
.checkout__ad > h4 {
  font-weight: bold;
}
.empty__message {
  padding: 20px;
  background: white;
}
